body {
    text-align: center;
    background: #600770;
}

h1 {
    font-family: fantasy;
    color: #FFFFFF;

}

label {
    font-size: 20px;
}

input {
    border: 3px solid #1E90FF;
    width: 300px;
    height: 20px;
}

button{
    background: #FFD700;
    border: 1px solid #000000;
    width: 100px;
    height: 30;
}